# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.


logs/
*/.idea
.idea/*
/conf/application-dev.yml
/conf/application-docker.yml
/conf/application-ppadev.yml
/conf/application-prod.yml
/conf/application-test.yml
/conf/application.yml
/conf/banner.txt
/conf/privateKey.pem
/conf/privateKey4EV.pem
/conf/publicKey.pem
/log/
/log/*